/Makefile
/build-aux
/intltool-*
/libtool
/missing
/contrib/pakfire.nm
/src/pakfire/__version__.py
/src/scripts/quality-agent
/src/scripts/extract-debuginfo
/src/systemd/*.service
/tmp
*.py[co]
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.a
*.cache
*.gmo
*.la
*.lo
*.mo
*.o
*.stamp
*.swp
*.trs
*~
.deps
.dirstamp
.libs
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
install-sh
stamp-*
